In [ ]:
import pandas as pd
import numpy as np
import glob

# Load all CSV files from folder and merge into one dataframe

file_list = glob.glob("C:/Users/harun/Desktop/project/task2/data/raw/*.csv")

df_list = []

for file in file_list:
    temp = pd.read_csv(file)
    df_list.append(temp)

df = pd.concat(df_list, ignore_index=True)

df.head()

,user_id,event_date,platform,install_date,country,total_session_count,total_session_duration,match_start_count,match_end_count,victory_count,defeat_count,server_connection_error,iap_revenue,ad_revenue
0,C6C0A027C49B98BA,2024-02-16,android,2024-02-11,NaN,1,57.721,0,0,0,0,0,0.0,0.0
1,EE03D492BC0ED08C,2024-03-08,ios,2024-02-01,NaN,0,0.355,0,0,0,0,0,0.0,0.0
2,5CAA4AF817354059,2024-03-12,ios,2024-03-12,NaN,1,114.006,0,0,0,0,0,0.0,0.0
3,EF0DE79217D56E72,2024-02-16,ios,2023-07-24,NaN,0,8.157,0,0,0,0,0,0.0,0.0
4,6DD3D1FC631486F0,2024-03-02,android,2024-03-01,NaN,1,233.265,1,0,0,0,0,0.0,0.0

In [ ]:
# Print dataset structure and summary statistics to understand basic data quality
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7293526 entries, 0 to 7293525
Data columns (total 14 columns):
 #   Column                   Dtype
---  ------                   -----
 0   user_id                  object
 1   event_date               object
 2   platform                 object
 3   install_date             object
 4   country                  object
 5   total_session_count      int64
 6   total_session_duration   float64
 7   match_start_count        int64
 8   match_end_count          int64
 9   victory_count            int64
 10  defeat_count             int64
 11  server_connection_error  int64
 12  iap_revenue              float64
 13  ad_revenue               float64
dtypes: float64(3), int64(6), object(5)
memory usage: 779.0+ MB

,total_session_count,total_session_duration,match_start_count,match_end_count,victory_count,defeat_count,server_connection_error,iap_revenue,ad_revenue
count,7.293526e+06,7.293526e+06,7.293526e+06,7.293526e+06,7.293526e+06,7.293526e+06,7.293526e+06,7.293526e+06,7.293526e+06
mean,1.735753e+00,1.844909e+03,4.728021e+00,3.911876e+00,2.432663e+00,1.479213e+00,3.362955e-02,1.280012e-01,2.006868e-02
std,1.293940e+00,3.205434e+03,8.220787e+00,7.004659e+00,4.969295e+00,3.107429e+00,4.163458e-01,4.272489e+00,9.454978e-02
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000e+00,2.171480e+02,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000e+00,7.074485e+02,2.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000e+00,2.045487e+03,5.000000e+00,5.000000e+00,3.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.144138e-02
max,3.600000e+01,1.233541e+06,6.830000e+02,2.740000e+02,2.710000e+02,1.270000e+02,2.150000e+02,2.790235e+03,3.236633e+01

In [3]:
# Missing values check
df.isna().sum()

user_id                        0
event_date                     0
platform                       0
install_date                   0
country                    17998
total_session_count            0
total_session_duration         0
match_start_count              0
match_end_count                0
victory_count                  0
defeat_count                   0
server_connection_error        0
iap_revenue                    0
ad_revenue                     0
dtype: int64

In [ ]:
# Replace missing revenue values with zero to avoid breaking numeric calculations
df['iap_revenue'] = df['iap_revenue'].fillna(0)
df['ad_revenue'] = df['ad_revenue'].fillna(0)

In [ ]:
# Convert date columns to datetime format and sorts events chronologically for each user
df['event_date'] = pd.to_datetime(df['event_date'])
df['install_date'] = pd.to_datetime(df['install_date'])
df = df.sort_values(by=['user_id', 'event_date'])

In [6]:
df.to_csv("C:/Users/harun/Desktop/project/task2/data/processed/cleaned_dataset.csv", index=False)